h1 {
    margin-bottom: 30px;
    text-align: center;
    color: red;
}

h2 {
    margin-bottom: 30px;
}

.btn {
    border-radius: 50px;
    padding: 10px 40px;
    background-color: #4b6fe2;
}

.result {
    padding: 20px;
    background: #d1e7dd;
    border-radius: 5px;
}

#ketNoi {
    display: none;
}